<div class="dataVisualization dv-jobLocation">
    <img class="dvCross" src="icons/cross.svg" alt="">
    <iframe style="background: #FFFFFF;border: none;border-radius: 1rem;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-trial-jphob/embed/charts?id=65c06833-2cf4-470b-8868-05199def37c6&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
</div>
<div class="dataVisualization dv-industryType">
    <img class="dvCross" src="icons/cross.svg" alt="">
    <iframe style="background: #FFFFFF;border: none;border-radius: 1rem;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-trial-jphob/embed/charts?id=65c068ca-7756-46b0-8940-80c8f00dba96&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
</div>
<div class="dataVisualization dv-hiringComp">
    <img class="dvCross" src="icons/cross.svg" alt="">
    <iframe style="background: #FFFFFF;border: none;border-radius: 1rem;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-trial-jphob/embed/charts?id=65c069c8-fe97-4748-86c3-83b280b54a04&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
</div>
<div class="dataVisualization dv-trendingJob">
    <img class="dvCross" src="icons/cross.svg" alt="">
    <iframe style="background: #FFFFFF;border: none;border-radius: 1rem;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-trial-jphob/embed/charts?id=65c06be3-4433-4e7f-8861-a7487be484d1&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
</div>