<button
    class="btn btn-secondary dropdown-toggle jaButton"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    type="button">Job Analytics</button>
<ul class="dropdown-menu">
    <li>
        <a class="dropdown-item">
            <div class="input-group flex-nowrap">
                <button
                    class="btn btn-secondary jaButton1"
                    role="button"
                    aria-expanded="false"
                    type="button">Top Job Locations</button>
            </div>
        </a>
    </li>
    <li>
        <a class="dropdown-item">
            <div class="input-group flex-nowrap">
                <button
                    class="btn btn-secondary jaButton2"
                    role="button"
                    aria-expanded="false"
                    type="button">Industry Types</button>
            </div>
        </a>
    </li>
    <li>
        <a class="dropdown-item">
            <div class="input-group flex-nowrap">
                <button
                    class="btn btn-secondary jaButton3"
                    role="button"
                    aria-expanded="false"
                    type="button">Most Hiring Companies</button>
            </div>
        </a>
    </li>
    <li>
        <a class="dropdown-item">
            <div class="input-group flex-nowrap">
                <button
                    class="btn btn-secondary jaButton4"
                    role="button"
                    aria-expanded="false"
                    type="button">Trending Job Roles</button>
            </div>
        </a>
    </li>
</ul>