<div class="drop_down">
  <ul class="drop_down_ul">
      <li><button type="button" class = "dd-home">Home</button></li>
      <li>
        <button class="btn btn-secondary dropdown-toggle dd-search" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Search
        </button>
        <ul class="dropdown-menu">
          <form action="/search" method="post">
            <li><a class="dropdown-item">
              <div class="input-group flex-nowrap">
                <input name="searchBox1" type="text" class="form-control" placeholder="Search for Job Role" aria-label="URL" aria-describedby="button-addon2">
              </div>
            </a></li>
            <li><a class="dropdown-item">
              <div class="input-group flex-nowrap">
                <input name="searchBox2" type="text" class="form-control" placeholder="Search for Company Name" aria-label="URL" aria-describedby="button-addon2">
              </div>
            </a></li>
            <li><a class="dropdown-item">
              <div class="input-group flex-nowrap">
                <input name="searchBox3" type="text" class="form-control" placeholder="Preferred Job Location" aria-label="URL" aria-describedby="button-addon2">
              </div>
            </a></li>
            <button class="btn btn-outline-secondary btn-phone" type="submit" id="button-addon2">Search</button>
          </form>
            <form action="/clear" method="post">
              <button name="Clear" class="btn btn-outline-secondary btn-phone" type="submit" id="button-addon2">Clear</button>
            </form>
        </ul>
      </li>
  </ul>
  <img class="cross" src="icons/cross.svg" alt="">
</div>


<!-- Navbar Without Wrapping -->
<header class="header-nb">
  <div class="nb-left">

      <div>
          <img class="main-img" src="icons/Job Watch Main.png" alt="">
      </div>

      <ul class="header-nb-ul">

          <li><a href="/">Home</a></li>

          <li>
            <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Search
            </a>
            <ul class="dropdown-menu">
              <form action="/search" method="post">
                <li><a class="dropdown-item">
                  <div class="input-group flex-nowrap">
                    <input name="searchBox1" type="text" class="form-control" placeholder="Search for Job Role" aria-label="URL" aria-describedby="button-addon2">
                  </div>
                </a></li>
                <li><a class="dropdown-item">
                  <div class="input-group flex-nowrap">
                    <input name="searchBox2" type="text" class="form-control" placeholder="Search for Company Name" aria-label="URL" aria-describedby="button-addon2">
                  </div>
                </a></li>
                <li><a class="dropdown-item">
                  <div class="input-group flex-nowrap">
                    <input name="searchBox3" type="text" class="form-control" placeholder="Preferred Job Location" aria-label="URL" aria-describedby="button-addon2">
                  </div>
                </a></li>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
              </form>
              <form action="/clear" method="post">
                <button name="Clear" class="btn btn-outline-secondary" type="submit" id="button-addon2">Clear</button>
              </form>
            </ul>
          </li>

      </ul>
      
  </div>

  <div class="nb-right">
      <div class="drop_down_menu_button">
          <img class="dropdownbutton" src="icons/reorder-four-sharp.svg" alt="">
      </div>

      <%- include("dv.ejs") %>

  </div>
</header>



  
  