<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <link
            rel="icon"
            type="image/png"
            sizes="1000x1000"
            href="icons/Job Watch Icon.png">
        <link rel="stylesheet" href="styles/main.css">
        <title>About</title>
    </head>
    <body>
        <header class="header-nb">
            <div class="nb-left">

                <div>
                    <img class="main-img" src="icons/Job Watch Main.png" alt="">
                </div>

                <ul class="header-nb-ul">

                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>

            </div>
        </header>
        <div class="main">
            <div class="aboutUS" style="text-align: center; padding: 0 2rem;">
                <h1 style="color: rgb(251, 73, 73); margin: 1rem;">About Job Watch</h1>
                <p>
                    Job Watch is a cutting-edge web application designed to revolutionize the job
                    search experience for tech professionals. We go beyond simple job boards,
                    offering a powerful combination of comprehensive job listings, insightful
                    analytics, and personalized AI-powered recommendations.
                </p>
                <p>Here's what makes Job Watch unique:</p>
                <p>
                    Comprehensive Job Listings: We aggregate listings from prominent job sites like
                    LinkedIn and AmbitionBox, providing a wide range of opportunities for you to
                    explore.
                </p>
                <p>
                    Insightful Analytics: Job Watch doesn't just show you jobs; it helps you
                    understand the job market. Our interactive data visualizations reveal key
                    trends:
                </p>
                <ul style="text-decoration: none; list-style-type: none;">
                    <li>Top Job Locations: Discover where the most opportunities are located</li>
                    <li>Thriving Industries: Identify industries experiencing rapid growth and hiring.</li>
                    <li>Active Hiring Companies: See which companies are actively seeking talent.</li>
                </ul>
                <p>
                    Personalized AI-Powered Recommendations: Upload your resume, and our AI will
                    analyze your skills and experience to provide tailored job recommendations.
                    We'll help you target roles and industries that align with your qualifications
                    and interests.
                </p>
                <p>
                    Data-Driven Decisions: We empower you to make informed decisions with detailed
                    company information, including ratings, salaries, and more.
                </p>
                <p>
                    Easy-to-Use Interface: Our interface is designed for a seamless and intuitive
                    user experience, making your job search efficient and enjoyable.
                </p>
                <p>
                    Job Watch is your one-stop platform to discover your next big opportunity. We're
                    constantly evolving and adding new features to make your job search smarter and
                    more successful. Start exploring today!
                </p>
            </div>
            <h2 style="text-align: center; margin-top: 4rem;">Developers</h2>
            <div class="aboutDev">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="icons/Am.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="color: blueviolet;">AMANDEEP SINGH BHALLA</h5>
                                <p class="card-text">Completed B.Tech in CSE from Guru Gobind Singh Indraprastha
                                    University, specializing in MERN Stack Development, proficient in MongoDB,
                                    Express.js, React.js, Node.js, HTML, CSS, Bootstrap, JavaScript, jQuery, and
                                    C++. Experienced in internships, including work at Maruti Suzuki India Limited.</p>
                                <a
                                    href="https://www.linkedin.com/in/amandeep-singh-bhalla-03764b245/"
                                    class="btn btn-primary">Let's Connect!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="icons/As.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="color: blueviolet;">ASHPREET SINGH</h5>
                                <p class="card-text">BTech CSE student skilled in C++, Python, Data Structures,
                                    and Data Science, Completed B.Tech from Guru Gobind Singh Indraprastha
                                    University.Experienced in software development, data analysis, and projects
                                    involving AI and ML.</p>
                                <a href="https://www.linkedin.com/in/singhashpreet/" class="btn btn-primary">Let's Connect!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="icons/Br.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="color: blueviolet;">BRAHAMDEEP SINGH</h5>
                                <p class="card-text">Completed B.Tech in Computer Science Engineering from Guru
                                    Gobind Singh Indraprastha University., skilled in analytical thinking,
                                    engineering principles, and proficient in English. Proficient in programming
                                    languages such as C and C++.</p>
                                <a href="https://www.linkedin.com/in/brahamdeepsingh/" class="btn btn-primary">Let's Connect!</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    </body>
</html>