<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" type="image/png" sizes="3464x3464" href="icons/AI.png">
    <title>Job Watch AI</title>
</head>
<body style="margin: 0; 
            display: flex; 
            flex-wrap: wrap; 
            flex-direction: column;">
    <div class="splash" style="background-image: linear-gradient(to right, rgb(169, 168, 168), rgb(246, 225, 225));">
        <img class="splash-img-1" src="icons/Job Watch AI.png" alt="">
        <p style="color: rgb(79, 78, 78); font-size: 1.5rem;">Getting AI Ready.</p>
        <p style="color: rgb(79, 78, 78); font-size: 2rem">......</p>
        <div class="spinner-grow" role="status">
            <span style="color: rgb(79, 78, 78);" class="visually-hidden">Loading...</span>
          </div>
    </div>

    <header class="header-nb">
        <div class="nb-left">

            <div>
                <img class="main-img" src="icons/Job Watch AI.png" alt="">
            </div>
      
            <ul class="header-nb-ul">
      
                <li><a href="/">Home</a></li>
      
            </ul>
            
        </div>
    </header>

    <div class="AI_conatiner">

        <div class="AI_Content">
            <h1>Get Personalized Job Recommendations & Career Advice</h1>
            <p>Upload your resume to receive tailored job profiles and expert career guidance from our AI.</p>
        </div>
        
        <div class="AI_Form">
            <figure>
                <img src="icons/file.png" alt="" style="width:50%">
                <figcaption>(.jpeg, .png, .gif, .bmp, .tiff)</figcaption>
            </figure>
            <div class="form_loading">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input class="AI_Input" type="file" name="resume" accept=".jpeg, .png, .gif, .bmp, .tiff" required>
                    <button class="resume_btn" type="submit">AI ✨</button>
                </form>
                <div class="AI_Spinner spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="AI_Spinner spinner-grow spinner-grow-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

    </div>








<script>
        const splash = document.querySelector(".splash");
        window.addEventListener("load", () => {
            setTimeout(()=> {
                splash.classList.add("display-none");
            }, 4500);
        });

        const resumeInput = document.querySelector(".AI_Input");
        const resumeBtn = document.querySelector(".resume_btn");
        const spinners = document.querySelectorAll(".AI_Spinner");

        resumeBtn.addEventListener("click", (event) => {
            if (resumeInput.files.length > 0) {
                // Show spinners if files have been selected
                spinners.forEach((spinner) => {
                    spinner.classList.add("AI_Spinner_Active");
                });
            }
        });




</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>