@import url('https://fonts.googleapis.com/css2?family=Borel&family=REM&family=Roboto:wght@400;700&display=swap');

body {
    background-image: linear-gradient(to right, rgb(255, 252, 252), rgb(246, 225, 225));
}

/* Splash Class */
.splash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(249, 246, 244);
    background-image: linear-gradient(rgb(201, 201, 201), rgb(250, 250, 250));
    background: cov;
    z-index: 200;
}
.splash.display-none{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    color: antiquewhite;
    z-index: -10;
    transition: all 0.5s;
}
.splash-img-1 {
    width: 20rem;
}
.splash-img-2 {
    width: 10rem;
}


/* Drop Down Box */
.drop_down{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(rgb(204, 153, 153), rgb(65, 49, 49));
    padding: 1.5rem;
    position: absolute;
    transform: translateY(-200px);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}
.drop_down img{
    position: relative;
    bottom: 4rem;
    width: 1.5rem;
}
.drop_down_active{
    transform: translateY(0);
}
.drop_down_ul{
    list-style: none;
    width: 100%;
}
.dd-home, .dd-search{
    font-family: 'Tilt Neon', cursive;
    font-size: 1.2rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: white;
    margin: 0.5rem;
    width: fit-content;
    transition: 0.3s;
}
.dd-home.dd-search:hover{
    background-color: black;
    color: white;
    transition: linear;
}
.drop_down_menu_button{
    width: 2.5rem;
    display: none;
}

/* Nav Bar */
.header-nb{
    overflow: hidden;
    font-family: 'Tilt Neon', cursive;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(137, 137, 137), rgb(242, 239, 239));
}

.nb-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-img{
    margin: 0;
    padding: 0;
    height: 5rem;
    transition: 0.5s;
}
.main-img:hover{
    height: 6rem;
}
.header-nb-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;

}
.header-nb-ul li a{
    color: antiquewhite;
    text-decoration: none;
    padding: 1.5rem;
    transition: 0.3s;
}
.header-nb-ul li a:hover{
    background-color: black;
    color: white;
    transition: linear;
}
.nb-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.jaButton{
    margin: 1.5rem 1rem;
    padding: 0;
    width: 8rem;
    height: 2rem;
    border: 0;
    border-radius: 0.3rem;
    transition: 0.5s;
}
.jaButton:hover{
     background-color: black;
     border-radius: 5rem;
}


.btn {
    border: 0;
    background-color: transparent;
    color: black;
}

.btn-phone {
    border: 0;
    color: black;
}

.main {
    padding: 1rem;
}

.row {
    padding: 1rem;
}

.col {
    transition: 0.5s;
    border-radius: 1rem;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(251, 250, 250), rgb(255, 255, 255));
    background: transparent;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px rgba(245, 233, 233, 0.5);
    perspective: 1000px;
    transition: 0.5s;
}
.card_dark {
    border-radius: 1rem;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(251, 250, 250), rgb(255, 255, 255));
    background: transparent;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(61, 61, 61, 0.5);
    perspective: 1000px;
    transition: 0.5s;
    color: white;
}
.card:hover {
    border: 3px solid rgba(60, 63, 247, 0.5);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.col:hover {
    padding: 0;
    box-shadow: 0 0 30px rgba(246, 78, 78, 0.5);
}

.more {
    display: none;
    transition:  0.3s ease-in-out;
}

.more-active {
    display: block;
}



  

.card-img-top {
    width: 7rem;
    height: 7rem;
}


.ask_AI {
    background: none;
    border: none;
    color: blue;
    transition: 0.3s ease-in-out;
}
.ask_AI:hover {
    color: white;
    background-color: blue;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;
    padding: 0.5rem;
}


.dataVisualization {
    top: 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(251, 103, 103, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    transform: translateY(-5000px);
    transition: transform 0.5s ease-in-out;
}
.dataVisualization img {
    margin-top: 0.5rem;
    width: 1.5rem;
}
.dataVisualization-active {
    transform: translateY(0);
}



/* AI Form */

.AI_conatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.AI_Content h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.AI_Content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.AI_Form {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap; */
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(251, 103, 103, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.AI_Form form {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AI_Input {
    background: none;
    color: blue;
}

.resume_btn {
    margin-top: 2rem;
    padding: 0.3rem;
    font-size: 1rem;
    background-color: blueviolet;
    color: white;
    border-radius: 0.2rem;
    box-shadow: 0 0 30px rgba(251, 103, 103, 0.5);
    border: none;
    transition: 0.3s ease-in-out;
}
.resume_btn:hover {
    cursor: pointer;
    background-color: rgb(190, 128, 247);
    color: rgb(251, 207, 207);
    transition: 0.3s ease-in-out;
}

.AI_Spinner {
    display: none;
}
.AI_Spinner_Active {
    display: inline-block;
}

  



@media only screen and (max-width: 700px) {
    .header-nb-ul{
        display: none;
    }
    .try-for-free, .sign-in-a{
        display: none;
    }
    .drop_down_menu_button{
        display: block;
        margin: 0 1rem;
    }


}